:root {
    --main-color: #FF9800;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #FFF;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #EEE;
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}
.settings-box .toggle-settings .fa-gear {
    width: 30px;
    padding: 8px 0;
}
.settings-box .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}
.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EEE;
}
.settings-box .option-box .colors-list li.active {
    border-color: #FFF;
}
.settings-box .option-box .colors-list li:first-child {
    background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #03A9F4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #4CAF50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
    width: 50px;
    background-color: var(--main-color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .reset-options {
    background-color: #F44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
  /* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
  /* End Nav Bullets */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url('../images/01.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .container {
    position: relative;
    z-index: 999;
}
.header-area {
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    /*padding: 15px;*/
    padding: 0;
    font-weight: bold;
}
.header-area .logo img{
    filter: brightness(0) invert(1);
    width: 150px;
    height: 55px;
}
.header-area .links-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a {
    color: #FFF;
    text-decoration: none;
    transition: .3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;
}
.header-area .toggle-menu:focus {
    outline: none;
}
.header-area .toggle-menu span {
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #FFF;
    text-align: center; 
    width: 95%;
}
.introduction-text h1 {
    font-size: 34px;
    margin: 0 0 12px;
}
@media (max-width: 575px) {
    .introduction-text h1 {
        font-size: 26px;
    }
}
.introduction-text h1 span {
    color: var(--main-color);
}
.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* End Landing Page */

/**Start Apartments*/
.apartments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.apartments-head{
    text-align: center;
    color: hsl(214deg 13% 24%);
    font-weight: bold;
    margin-top: 35px;
}
.apartment{
    width: 350px;
    background-color: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0px 0px 10px #0000008c;
}
.apartment img{
    width: 100%;
    height: 250px;
    cursor: pointer;
}
.apartment-text{
    position: relative;
    padding: 10px;
    color: #fff;
}
.apartment-price{
    position: absolute;
    background-color: hsl(214deg 13% 24%);
    padding: 10px;
    top: -22px;
    right: 15px;
    border-radius: 5px;
}
.apartment-text h6{
    margin: 5px;
}
.apartment-text h2{
    margin: 15px 5px;
}
.apartment-text ul{
    margin: 5px;
}
.apartment-text ul li{
    line-height: 18px;
    font-size: 11px;
}
button{
    border: 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    color:var(--main-color);
    margin-left: 20px;
}
/**End Apartments*/

/* Start Testimonials */
.clearfix{
    clear: both;
}
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    .testimonials h2 {
        text-align: center;
    }
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #FFF;
    padding: 20px;
}
@media (max-width: 767px) {
    .testimonials .ts-box {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 15px;
    color: #707070;
    font-style: italic;  
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}
  /* End Testimonials */
  /* Start Contact Us */
.contact {
    min-height: 600px;
    background-image: url('../images/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    /* background-color: rgb(255 255 255 / 60%); */
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center; 
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus { 
    outline: 1px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}
  /* End Contact Us */
  /* Start Footer */
.footer {
    background-color: #333;
    color: #EEE;
    padding: 20px;
    text-align: center;
}
  /* End Footer */
  /* Start Grid System */
@media (min-width: 576px) { /* Small Devices => Landscape Phones */
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) { /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) { /* Desktops */
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) { /* Large Screens */
    .container {
        max-width: 1140px;
    }
}
  /* End Grid System */






























.containerMargin{
    margin: 0 80px;
}
.forevision-nav{
    /*position: sticky;*/
    position: fixed;
    width: 100%;
    z-index: 4;
    /*background: rgb(154 154 154 / 60%);*/
    background: rgb(0 0 0 / 70%);
}
.forevision-nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forevision-nav-inner img{
    filter: brightness(0) invert(1);
}
.forevision-nav-link{

}
.forevision-nav-link a{
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-size: 19px;
}
.forevision-intro{
    background-size: cover;
    height: 100vh;
    position: relative;
    transition: 0.3s ease-in-out;
}
.intro-1{
    background-image: url('../images/maxresdefault.jpg');
}
.intro-2{
    background-image: url('../images/Caribbean-beach.jpg');
}
.forevision-intro-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: 1;
    color: #fff;
    text-align: center;
}
.forevision-intro-overlay h1{
    /*transform: translateY(100%);*/
}

.forevision-whyUs{
    position: relative;
    top: -20px;
    background-image: url('../images/w-qjCHPZbeXCQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.forevision-whyUs-inner{
    position: relative;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
    transition: left .7s ease-in-out;
}
.forevision-whyUs-inner.active{
    left: 0;
} 
.forevision-whyUs-inner h2{
    text-align: center;
    color: hsl(214deg 13% 24%);
    font-weight: bold;
    padding-top: 35px;
}
.forevision-whyUs-inner p{
    color: hsl(214deg 13% 24% / 75%);
    padding: 5px 50px 30px 50px;
    line-height: 19px;
    font-size: 13px;
    text-align: center;
}
.forsision-posts{
    text-align: center;
    background-color: hsl(0, 0%, 90%);
}
.forsision-posts-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post{
    margin: 20px;
}
.fb-post{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
}

.forevision-testimonials{
    
}

.forevision-contactUs{
    background-color: hsl(0, 0%, 90%);
}




.forevision-companyFoundersInner {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
}
/*
.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}*/

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}